<h1><%= t("edit_page.top_h1") %></h1>

<%= render 'errormsg' %>

<%= form_with( model: @task, local: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <%= form.label :content %>
  <%= form.text_area :content %>

  <%= form.label :label %>
  <%= form.text_field :label %>

  <%= form.label :priority %>
  <%= form.text_field :priority %>

  <%= form.submit %>
<% end %>
