<h1><%= t("index_page.top_h1") %></h1>

<%= form_with url:tasks_path, method: :get, local: true, class:"form-group" do |f| %>
  <div class="form-group row">
    <%= f.label :title_search, t("index_page.title_search"),class: "col-sm-2 col-form-label" %>
    <div class="col-sm-4">
      <%= f.text_field :title_search,class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= f.label :status_search, t("index_page.status_search"),class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.select :status_search, [[""],[t("status.waiting"), "未着手"], [t("status.working"), "着手中"], [t("status.completed"), "完了"]] ,class: "form-control"%>
      </div>
  </div>
  <div class="form-group row">
    <%= f.label :label_search, "ラベルで検索",class: "col-sm-2 col-form-label" %>
      <div class="col-sm-10">
        <%= f.select :label_search, @labels,include_blank: true,class: "form-control"%>
      </div>
  </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <%= f.submit t("index_page.search"),class: "btn btn-primary" %>
        <%= link_to(t("index_page.clear"), tasks_path,class: "btn btn-primary") %>
      </div>
    </div>
      <%= f.hidden_field :search, value: 'true' %>
<% end %>



<table class="table table-bordered">
  <tr>
    <th scope="col"><%= Task.human_attribute_name :title %> </th>
    <th scope="col"><%= Task.human_attribute_name :content %> </th>
    <th scope="col"><%= Task.human_attribute_name :status %></th>
    <th scope="col"><%= Task.human_attribute_name :priority %></th>
    <th scope="col"><%= Task.human_attribute_name :expiration_at %></th>
    <th colspan="3"><%= t("menu.command") %></th>
  </tr>

    <% @tasks.each do |task|  %>
        <tr>
        <td class="task_title"><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= task.expiration_at %></td>
        <td><%= link_to(t("menu.show"), task_path(task.id),id:task.title) %></td>
        <td><%= link_to(t("menu.edit"), edit_task_path(task.id)) %></td>
        <td><%= link_to(t("menu.delete"), task_path(task.id), method: :delete, data: {confirm: t("notice.confirm_delete")}) %></td>
      </tr>
    <% end %>

</table>
<div class="row">
  <div class="col-sm"><%= link_to(t("index_page.confirm_register"), new_task_path,class: "btn btn-outline-primary") %></div>
  <div class="col-sm"><%= link_to(t("index_page.sort_expire_at"), tasks_path(sort_expired: "true"),class: "btn btn-outline-primary") %></div>
  <div class="col-sm"><%= link_to(t("index_page.sort_priority"), tasks_path(sort_priority: "true"),class: "btn btn-outline-primary") %></div>
 </div>
 
 <%= paginate @tasks %>