<h1><%= t("index_page.top_h1") %></h1>

<%= form_with url:tasks_path, method: :get, local: true do |f| %>
  <%= f.label :title_search, t("index_page.title_search") %>
  <%= f.text_field :title_search %>
  <%= f.label :status_search, t("index_page.status_search") %>
  <%= f.select :status_search, [[t("status.waiting"), "未着手"], [t("status.working"), "着手中"], [t("status.completed"), "完了"]] %>
  <%= f.submit t("index_page.search") %>

  <%= f.hidden_field :search, value: 'true' %>

  <%= link_to(t("index_page.clear"), tasks_path) %>
<% end %>


<table>
  <tr>
    <th><%= Task.human_attribute_name :title %> </th>
    <th><%= Task.human_attribute_name :content %> </th>
    <th><%= Task.human_attribute_name :label %></th>
    <th><%= Task.human_attribute_name :status %></th>
    <th><%= Task.human_attribute_name :priority %></th>
    <th><%= Task.human_attribute_name :expiration_at %></th>
  </tr>


  <% @tasks.each do |task| %>
      <tr>
      <td class="task_title"><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.label %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td><%= task.expiration_at.strftime('%Y/%m/%d') %></td>
      <td><%= link_to(t("menu.show"), task_path(task.id)) %></td>
      <td><%= link_to(t("menu.edit"), edit_task_path(task.id)) %></td>
      <td><%= link_to(t("menu.delete"), task_path(task.id), method: :delete, data: {confirm: t("notice.confirm_delete")}) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to(t("index_page.confirm_register"), new_task_path) %></p>

<p><%= link_to(t("index_page.sort_expire_at"), tasks_path(sort_expired: "true")) %></p>
